@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

html,
body {
  padding: 0;
  margin: 10px;
}

.primary-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondary-video {
  position: absolute;
  max-width: 30%;
  width: 30%;
  margin: 16px;
  border-radius: 16px;
}

.inputbox {
  height: 50px;
  margin-bottom: 10px;
}
.inputbox .input {
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.button {
  width: 80px;
  height: 100%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  padding: 10px;
  border-radius: 10px;
}
.button:hover {
  background: #06b;
}
