<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <script src="javascripts/peerjs.js"></script>
    <div>Hello Jayden</div>
    <video class="secondary-video" autoplay id="remote-video"></video>
    <video class="primary-video" autoplay muted id="local-video"></video>

    <script src="javascripts/call.js"></script>
  </body>
</html>
